POSTGRES_DB=claimtrakr
POSTGRES_USER=ct
POSTGRES_PASSWORD=changeme_strong_password

BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=changeme_strong_password

APP_ENV=production
LOG_LEVEL=INFO
UPLOADS_PATH=/uploads

BLM_CLAIMS_BASE_URL=https://gis.blm.gov/nlsdb/rest/services/Mining_Claims/MiningClaims/MapServer
BLM_CLAIMS_ACTIVE_LAYER=0
BLM_CLAIMS_CLOSED_LAYER=0

VITE_API_URL=http://yourdomain.com:8084
VITE_AUTH_USER=admin
VITE_AUTH_PASS=changeme_strong_password
